<form action="/newbooking"  method="post">
    <table>    
        <tr><td>Date</td><td><input type="date" name="date"></td></tr>  
        <tr><td>From</td><td><input type="text" name="from"></td></tr>  
        <tr><td>To</td><td><input type="text" name="To"></td></tr>
        <tr><td><label for="cars">cab type:</label>
            <select id="cars" name="cars">
              <option value="micro">micro</option>
              <option value="mini">mini</option>
              <option value="prime">prime</option>
              <option value="Audi">Audi</option>
            </select></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
</form>